.tavern{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/Tabernadia1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  background-attachment: fixed;
}